In [1]:
import os
from snowflake.snowpark import Session
import requests
import pandas as pd
import json

In [2]:
connection_parameters = {
"account": "ld77469.uae-north.azure",
"user": "GOKS98",
"password": "March20311",
"role": "ACCOUNTADMIN",
"warehouse": "SNOWFLAKE_WAREHOUSE",
"database": "OIL_AND_GAS",
"schema": "CONFORMED"
 }

In [3]:
test_session = Session.builder.configs(connection_parameters).create()
print(test_session.sql("select current_warehouse(), current_database(), current_schema()").collect())

[Row(CURRENT_WAREHOUSE()='SNOWFLAKE_WAREHOUSE', CURRENT_DATABASE()='OIL_AND_GAS', CURRENT_SCHEMA()='CONFORMED')]

In [4]:
response = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=25.2048&lon=55.2708&appid=b3effbd4d36024a4b9735d33830e7ca3")
data = response.json()
print(data)

{'coord': {'lon': 55.2708, 'lat': 25.2048}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 305.17, 'feels_like': 306.43, 'temp_min': 305.16, 'temp_max': 306.36, 'pressure': 1012, 'humidity': 45}, 'visibility': 8000, 'wind': {'speed': 5.66, 'deg': 330}, 'clouds': {'all': 56}, 'dt': 1667218779, 'sys': {'type': 1, 'id': 7537, 'country': 'AE', 'sunrise': 1667183141, 'sunset': 1667223554}, 'timezone': 14400, 'id': 290845, 'name': 'Ash Shindaghah', 'cod': 200}

In [5]:
df = pd.json_normalize(data)
df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,8000,1667218779,14400,290845,Ash Shindaghah,200,55.2708,25.2048,...,1012,45,5.66,330,56,1,7537,AE,1667183141,1667223554

In [6]:
df.to_clipboard()

In [7]:
cust_sql = test_session.table("OIL_AND_GAS.CONFORMED.CUSTOMER_TABLE")
cust_sql.show(20)
cust_sql.show(10)

-----------------------------------------------------------------------------------------------------
|"CUSTOMER_ID"  |"DATE"    |"SALUTATION"  |"FIRST_NAME"  |"LAST_NAME"  |"DATE_INSERT"               |
-----------------------------------------------------------------------------------------------------
|62344124       |19970114  |Dr.           |Lisa          |Serrano      |2022-10-31 02:01:46.529000  |
|62344125       |20020901  |Dr.           |Alexander     |Johnson      |2022-10-31 02:01:46.529000  |
|62344126       |19980715  |Mr.           |Joseph        |May          |2022-10-31 02:01:46.529000  |
|62344127       |19951203  |Dr.           |Delphia       |Henderson    |2022-10-31 02:01:46.529000  |
|62344128       |19930528  |Miss          |Cynthia       |Boatright    |2022-10-31 02:01:46.529000  |
|62344129       |19950314  |Ms.           |Sarah         |Palmer       |2022-10-31 02:01:46.529000  |
|62344130       |19960224  |Sir           |Robert        |Reed         |2022-10-31 02:01:46.529000  |
|62344131       |19980412  |Sir           |Elmer         |Howard       |2022-10-31 02:01:46.529000  |
|62344132       |20020821  |Dr.           |Christopher   |Orlando      |2022-10-31 02:01:46.529000  |
|62344133       |20011117  |Ms.           |Stephanie     |Correa       |2022-10-31 02:01:46.529000  |
|62344134       |19960104  |Mrs.          |Lisa          |Bacon        |2022-10-31 02:01:46.529000  |
|62344135       |19950922  |Miss          |Jane          |Echols       |2022-10-31 02:01:46.529000  |
|62344136       |19980423  |Mrs.          |Samantha      |Whitley      |2022-10-31 02:01:46.529000  |
|62344137       |19980331  |Ms.           |Debra         |Flagg        |2022-10-31 02:01:46.529000  |
|62344138       |19971025  |Dr.           |Leon          |Wyatt        |2022-10-31 02:01:46.529000  |
|62344139       |19940303  |Dr.           |Bernice       |Tuttle       |2022-10-31 02:01:46.529000  |
|62344140       |19990414  |Ms.           |Christine     |Hall         |2022-10-31 02:01:46.529000  |
|62344141       |19960426  |Dr.           |Brenda        |NULL         |2022-10-31 02:01:46.529000  |
|62344142       |20011210  |Miss          |Sylvia        |Sisson       |2022-10-31 02:01:46.529000  |
|62344143       |20010529  |Dr.           |Keith         |Pham         |2022-10-31 02:01:46.529000  |
-----------------------------------------------------------------------------------------------------